---
---
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
<style>
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }
</style>