---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/ui/Hero.astro'; // Menggunakan Hero yang baru
---

<Layout title="Nikmati koneksi internet yang cepat dan stabil dari maskom network">
	<main>
		<Hero />
		<!-- Bagian lain dari maskom.co.id akan ditambahkan di sini -->
	</main>
</Layout>
