---
const currentYear = new Date().getFullYear();
---
<footer>
    <p>&copy; {currentYear} Maskom Astro. All rights reserved.</p>
</footer>
<style>
    footer {
        background-color: #eee;
        color: #333;
        padding: 1rem;
        text-align: center;
        margin-top: 2rem;
    }
</style>